<Design>
	<CityBikeImageUrl>Images/cbw_G.png</CityBikeImageUrl>
	<HeatmapColor>yellow</HeatmapColor>
	<HeatmapInitialOpacity>0.35</HeatmapInitialOpacity>
	<HeatmapSelectedColor>blue</HeatmapSelectedColor>
	<HeatmapSelectedOpacity>0.7</HeatmapSelectedOpacity>
	<PathColorDefault>#990099</PathColorDefault>
</Design>